.empty{
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.ongoing{
  display: none;
}

.choose-move-container{
  position: relative;
  display: flex;
  flex-direction: column;
  column-gap: 3%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 300px;
  width: 300px;
  background: lightsalmon;
  opacity: .9;
  border-radius: 46% 54% 47% 53% / 69% 33% 67% 31% ;
}
.buttons{
}

.return{
  display: flex;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 1%;
  right: 1%;
  justify-content: center;
  border-radius: 11% 89% 15% 85% / 69% 45% 55% 31% ;
  background-color: red;
}
.return:hover{
  background-color: brown;
  cursor: pointer;
}
.chooseyourmove{
  font-family: ;
  font-size: 1.5rem;
  height: 15%;
}
