body{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2px;
  column-gap: 2px;
}
.tile{
  position: relative;
  justify-content: center;
  background-color: aqua;
  display: flex;
  align-items: center;
  height: 200px;
  width: 200px;
  cursor: pointer;
  font-size: 90px;
}
.move{
  display: none;
}
.rematch{
  cursor: pointer;
  height: 40px;
}
.rematch:hover{
  background-color: green;
  color: white;
}
.result-comment{
  color: white;
  font-size: 50px;}

.tile:hover{
  background-color:green;
  color: black;
  .forcss{
    display: block;
    position: absolute;
    color:red;
    opacity: .7;
  }
}
.selected{
  display: block;
}
.added-result{
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.result{
  display: flex;
  flex-direction: column;
}
.forcss{
  display: none;
}

.header{
color: aqua;
}
.board-container{
  display: flex;
  position: relative;
}
.striker-row1{
  background-color: red;
  height: 5px;
  width: 100%;
  top: 16.5%;
  position: absolute;
}
.striker-row2{
  background-color: red;
  height: 5px;
  width: 100%;
  top: 49%;
  position: absolute;
}
.striker-row3{
  background-color: red;
  height: 5px;
  width: 100%;
  top: 83%;
  position: absolute;
}
.striker-col1{
  background-color: red;
  height: 100%;
  width: 5px;
  left: 16.5%;
  position: absolute;
}
.striker-col2{
  background-color: red;
  height: 100%;
  width: 5px;
  left: 50%;
  position: absolute;
}
.striker-col3{
  background-color: red;
  height: 100%;
  width: 5px;
  left: 83%;
  position: absolute;
}
.striker-45deg{
  background-color: red;
  height: 5px;
  width: 100%;
  top: 50%;
  position:absolute;
  transform: rotate(45deg);
}
.striker-neg45deg{
  background-color: red;
  height: 5px;
  width: 100%;
  top: 50%;
  position:absolute;
  transform: rotate(-45deg);
}



